{% extends 'layout.html.twig' %}
{% block header_title %}Modification mot de passe{% endblock %}

{% block body %}
<br />
    <div class="row">
        <div class="col-md-4 col-md-offset-4 bg-info">
            <p><ul>
                <li>au minimum 8 caractères</li>
                <li>au moins un chiffre</li>
                <li>au moins un caractère spécial</li>
                <li>au moins une majuscule</li>
                <li>au moins une minuscule</li>
            </ul></p>
        </div>
    </div>
<br /><br />
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

